/node_modules
/storage
/public/build
/public/hot
/public/storage
/public/upload
/storage/*.key
/vendor
.env
.env.example
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode