$color-title            : #345;
$color-primary          : rgb(13, 105, 196);
$color-primary-hover    : rgb(0, 90, 180);
$color-primary-01       : rgba(13, 105, 196, 0.1);
$color-primary-02       : rgba(13, 105, 196, 0.2);
$color-primary-03       : rgba(13, 105, 196, 0.3);
$color-primary-04       : rgba(13, 105, 196, 0.4);
$color-primary-05       : rgba(13, 105, 196, 0.5);
$color-primary-06       : rgba(13, 105, 196, 0.6);
$color-primary-07       : rgba(13, 105, 196, 0.7);
$color-primary-08       : rgba(13, 105, 196, 0.8);
$color-primary-09       : rgba(13, 105, 196, 0.9);
$color-primary-light    : rgb(23, 115, 206);

$color-secondary        : rgb(244, 208, 63);
$color-secondary-01     : rgba(244, 208, 63, 0.1);
$color-secondary-02     : rgba(244, 208, 63, 0.2);
$color-secondary-03     : rgba(244, 208, 63, 0.3);
$color-secondary-04     : rgba(244, 208, 63, 0.4);
$color-secondary-05     : rgba(244, 208, 63, 0.5);
$color-secondary-06     : rgba(244, 208, 63, 0.6);
$color-secondary-07     : rgba(244, 208, 63, 0.7);
$color-secondary-08     : rgba(244, 208, 63, 0.8);
$color-secondary-09     : rgba(244, 208, 63, 0.9);
$color-secondary-hover  : rgb(241, 196, 15);
$color-price: rgb(255, 90, 50);
$color-red: #E74C3C;

$bg-1: 			#212529;
$bg-09: 		#343a40;
$bg-08: 		#495057;
$bg-07: 		#6c757d;
$bg-06: 		#adb5bd;
$bg-05: 		#ced4da;
$bg-04: 		#dee2e6;
$bg-03: 		#e9ecef;
$bg-02: 		#f8f9fa;
$color-link: #3498DB;
$color-link-dark: #2E86C1;
$color-des : #567;
$color-text: #456;

$font-primary-title: "SVN-Gilroy", "Verdana", "Roboto", "Tahoma", sans-serif;
$font-primary-title-bold: "SVN-Gilroy Bold", "Verdana", "Roboto", "Tahoma", sans-serif;
$font-primary-text: "Roboto", "Verdana", "Tahoma", sans-serif;

$margin-box-desktop     : 5rem;
$margin-box-1024-1199   : 4.2rem;
$margin-box-991-1023    : 4rem;
$margin-box-768-990     : 3.8rem;
$margin-box-mobile      : 3.5rem;

$background-image: '/images/sources/background-chuyen-tau-van-hoc.png';

@mixin titleH2 {
    color: $color-primary;
    font-size: 1.4rem;
    margin-bottom: 0.25rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    @media (max-width: 1199px){
        font-size: 1.35rem;
        margin-bottom: 0.75rem;
    }
    @media (max-width: 991px){
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
    }
    @media (max-width: 577px){
        font-size: 1.25rem;
        margin-bottom: 0;
    }
}

@mixin subtitleH2 {
    margin-bottom: 1rem;
    text-align: center;
    color: #567;
    @media (max-width: 1199px){
        margin-bottom: 1.25rem;
    }
    @media (max-width: 991px){
        margin-bottom: 1rem;
    }
    // @media (max-width: 577px){
    //     margin-bottom: 0.75rem;
    // }
}

@mixin titleH3 {
    font-size: 1.05rem;
    font-family: $font-primary-title-bold;
    color: #345;
    &:hover {
        color: $color-primary-hover;
    }
}

@mixin titleSidebar {
    color: $color-title;
    font-size: 1.25rem;
    font-family: $font-primary-title-bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
    border-bottom: 2px solid $color-primary-03;
    padding-bottom: 0.5rem;
    @media (max-width: 1199px) {
        font-size: 1.2rem;
        margin-bottom: 0.75rem !important;
    }
    @media (max-width: 577px) {
        font-size: 1.15rem;
        margin-bottom: 0.5rem !important;
    }
}

@mixin subTitleH3 {
    font-size: 0.85rem;
    color: $bg-07;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    > span {
        &:not(:first-child){
            margin-left: 1rem;
        }
        i {
            color: $bg-06;
            margin-right: 0.25rem;
            font-size: 0.9rem;
        }
    }
}

@mixin fontAwesome {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

@mixin slickSliderMain {
    .slick-prev, .slick-next {
        padding: 15px !important;
        top: 50% !important;
        bottom: unset !important;
        transform: translateY(-50%);
        border-radius: 0 !important;
        box-shadow: none !important;
        @media (min-width: 768px) and (max-width: 1023px){
            padding: 13px !important;
        }
        @media (max-width: 767px){
            padding: 11px !important;
        }
    }
    .slick-prev {
        left: 0 !important;
        right: unset !important;
    }
    .slick-next {
        left: unset !important;
        right: 0 !important;
    }
    .slick-dots {
        position: absolute;
        bottom: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        li {
            list-style-type: none;
            cursor: pointer;
            button {
                padding: 0;
                height: 5px;
                width: 40px;
                background: $color-primary-03;
                border: none !important;
                box-shadow: none !important;
                &::selection {
                    border: none !important;
                    outline: none !important;
                }
            }
            &:not(:first-child){
                margin-left: 0.5rem;
            }
        }
        .slick-active {
            button {
                background: $color-primary;
            }
        }
        @media (max-width: 1023px){
            bottom: 0.25rem !important;
            button {
                width: 35px !important;
                height: 4px !important;
            }
        }
    }
}

// font Gilroy
$folderFont : '/fonts/';
@font-face{
	font-family:'SVN-Gilroy Thin';
	font-style:normal;
	font-weight:400;
	src:url($folderFont+"svn-gilroy_regular.ttf")
}

@font-face{
	font-family:'SVN-Gilroy Light';
	font-style:normal;
	font-weight:400;
	src:url($folderFont+"svn-gilroy_regular.ttf")
}

@font-face{
	font-family:'SVN-Gilroy';
	font-style:normal;
	font-weight:500;
	src:url($folderFont+"svn-gilroy_medium.ttf")
}

@font-face{
	font-family:'SVN-Gilroy Med';
	font-style:normal;
	font-weight:700;
	src:url($folderFont+"svn-gilroy_med.ttf")
}

@font-face{
	font-family:'SVN-Gilroy Semi';
	font-style:normal;
	font-weight:700;
	src:url($folderFont+"svn-gilroy_semibold.ttf")
}

@font-face{
	font-family:'SVN-Gilroy Bold';
	font-style:normal;
	font-weight:700;
	src:url($folderFont+"svn-gilroy_semibold.ttf")
}