$color-title            : #345;
$color-primary          : rgb(0, 170, 240);
$color-primary-hover    : rgb(0, 150, 220);
$color-primary-01       : rgba(0, 170, 240, 0.1);
$color-primary-02       : rgba(0, 170, 240, 0.2);
$color-primary-03       : rgba(0, 170, 240, 0.3);
$color-primary-04       : rgba(0, 170, 240, 0.4);
$color-primary-05       : rgba(0, 170, 240, 0.5);
$color-primary-06       : rgba(0, 170, 240, 0.6);
$color-primary-07       : rgba(0, 170, 240, 0.7);
$color-primary-08       : rgba(0, 170, 240, 0.8);
$color-primary-09       : rgba(0, 170, 240, 0.9);
$color-primary-light    : rgb(0, 190, 260);

$color-secondary        : rgb(244, 208, 63);
$color-secondary-01     : rgba(244, 208, 63, 0.1);
$color-secondary-02     : rgba(244, 208, 63, 0.2);
$color-secondary-03     : rgba(244, 208, 63, 0.3);
$color-secondary-04     : rgba(244, 208, 63, 0.4);
$color-secondary-05     : rgba(244, 208, 63, 0.5);
$color-secondary-06     : rgba(244, 208, 63, 0.6);
$color-secondary-07     : rgba(244, 208, 63, 0.7);
$color-secondary-08     : rgba(244, 208, 63, 0.8);
$color-secondary-09     : rgba(244, 208, 63, 0.9);
$color-secondary-hover  : rgb(241, 196, 15);
$color-price: rgb(255, 90, 50);
$color-red: #E74C3C;

$bg-1: 			#212529;
$bg-09: 		#343a40;
$bg-08: 		#495057;
$bg-07: 		#6c757d;
$bg-06: 		#adb5bd;
$bg-05: 		#ced4da;
$bg-04: 		#dee2e6;
$bg-03: 		#e9ecef;
$bg-02: 		#f8f9fa;
$color-link: #3498DB;
$color-link-dark: #2E86C1;
$color-des : #567;
$color-text: #456;

$font-primary-title: "SVN-Gilroy", "Verdana", "Roboto", "Tahoma", sans-serif;
$font-primary-title-bold: "SVN-Gilroy Bold", "Verdana", "Roboto", "Tahoma", sans-serif;
$font-primary-text: "Open Sans", "Verdana", "Tahoma", sans-serif;

@mixin titlePage {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: $font-primary-text;
}

.highLight_700 {
    font-weight: 700;
    color: $color-primary;
}

.highLight_500 {
    font-weight: 500;
    color: $color-primary;
}

.titlePage {
    @include titlePage;
}

.categoryBadge {
    margin-top: 0.25rem;
}

table {
    tr {
        vertical-align: top;
        td, th {
            padding: 0.7rem !important;
            img {
                width: inherit;
                border-radius: 5px;
            }
            .tableHighLight {
                font-weight: 700;
            }
            div.oneLine {
                &:not(:first-child){
                    margin-top: 0.5rem;
                }
                .badge {
                    margin-top: 0.3rem;
                }
            }
            .iconAction {
                width: 40px;
                text-align: center;
                a {
                    color: $color-primary;
                    &:hover {
                        color: $color-primary-hover;
                    }
                }
            }
        }
    }
    tr {
        th {
            background: #7367f0 !important;
            color: #fff !important;
            text-transform: none !important;
            font-size: 1rem !important;
        }
    }
}

.formBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &_column2 {
        width: calc(50% - 1rem);
        &:not(:first-child){
            margin-left: 2rem;
        }
        &_item {
            &_row {
                &:not(:first-child){
                    margin-top: 1.2rem;
                }
            }
        }
    }
    &_full {
        width: 100%;
    }
}

.inputWithNumberChacractor {
    display: flex;
    justify-content: space-between;
    &_count {
        font-weight: bold;
        font-size: 1.1rem;
        background: $color-primary-01;
        padding: 2px 5px;
        width: 60px;
        text-align: center;
        border-radius: 5px 5px 0 0;
    }
}

.imageUpload {
    margin-top: 1.5rem;
    border-radius: 5px;
    img {
        width: 100%;
        max-width: 320px;
        max-height: 196px;
        object-fit: cover;
        box-shadow: 0 0 3px $bg-06;
        border-radius: inherit;
    }
}

.inputRequired {
    &:after {
        margin-left: 0.5rem;
        content: '*';
        color: $color-price;
        font-weight: bold;
    }
}
.explainInput {
    margin-right: 0.5rem;
    width: 18px;
    height: 18px;
    vertical-align: top;
}
.tooltip {
    text-align: left !important;
}

.errorList {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: 0.3px;
    > li {
        color: $color-red;
    }
}

/* ===== Viết đè CSS Theme ===== */
.navigation {
    font-family: $font-primary-text !important;
}

.main-menu.menu-light .navigation > li > a i, .main-menu.menu-light .navigation > li > a svg {
    top: 0 !important;
}

.navigation {
    font-size: 1.15rem !important;
    > li {
        font-weight: 700;
        margin-top: 0.75rem !important;
        > a {
            padding: 7px 12px !important;
            > i, > svg {
                height: 20px !important;
                width: 20px !important;
                font-size: 20px !important;
            }
        }
        ul {
            font-weight: normal;
            margin-left: 1.2rem !important;
        }
    }
    
}

html .content.app-content {
    padding: 2rem 2rem 0 !important;
}

.col-form-label, 
.col-form-label-lg, 
.col-form-label-sm {
    font-size: 1rem !important;
}

.form-label {
    font-size: 1rem !important;
    cursor: pointer;
}

.card .card-header .card-title {
    font-weight: 700;
}

.card-footer {
    > button {
        &:not(:first-child){
            margin-left: 1rem;
        }
    }
}

.select2-container .select2-selection--single {
    height: unset !important;
}

.invalid-feedback, .valid-feedback {
    font-size: 1rem !important;
}

label.error {
    display: none !important;
}

.actionDelete {
    cursor: pointer;
    color: $bg-06;
    &:hover {
        color: $color-red;
    }
}

.pageAdminWithRightSidebar {
    
    &_header {
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
    &_main {
        display: flex;

        &_content {
            width: 100%;
            display: flex;
            margin-right: calc(300px - 0.5rem);
            flex-wrap: wrap;
            justify-content: space-between;
            &_item {
                width: calc(50% - 0.75rem);
                &.fullWidth {
                    width: 100%;
                }
            }
        }
        &_rightSidebar {
            position: fixed;
            top: 0;
            right: 0;
            width: 300px;
            height: 100%;
            background: #fff;
            &_item {
                padding: 1.5rem;
                &:not(:first-child){
                    margin-top: 0.5rem;
                    padding-top: 1.5rem;
                    border-top: 1px dashed $bg-06;
                }
                &.buttonAction {
                    padding-bottom: 1rem;
                    justify-content: flex-end;
                    display: flex;
                    > * {
                        &:not(:first-child){
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }
    }
    
}

/* ===== START: Image */
.loadingFull {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2000;
}
.formBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &_column2 {
        width: calc(50% - 1rem);
        &:not(:first-child){
            margin-left: 2rem;
        }
        &_item {
            &_row {
                &:not(:first-child){
                    margin-top: 1.2rem;
                }
            }
        }
    }
    &_full {
        width: 100%;
        &_item {
            &:not(:first-child){
                margin-top: 1.2rem;
            }
        }
    }
}
.columnBox {
    &_item {
        display: flex;
        &_column {
            width: 100%;
        }
    }
}
.searchBox {
    display: flex;
    margin-bottom: 1rem;
    &_item {
        width: 100%;
        max-width: 400px;
        &:not(:first-child){
            margin-left: 1rem;
        }
    }
    .btn {
        padding: 0.75rem 1.5rem;
    }
}
.imageBox {
    display: flex;
    flex-wrap: wrap;
    &_item {
        width: calc(20% - 1.2rem);
        border-radius: 5px;
        box-shadow: 0 0 5px $bg-04;
        border: 1px solid $bg-05;
        height: max-content;
        margin-top: 1.2rem;
        margin-right: 1.2rem;
        &_image {
            background: url('/images/background-of-image.jpg') no-repeat;
            background-size: 100% 100%;
            img {
                width: 100%;
                border-radius: 5px 5px 0 0;
                object-fit: contain;
                height: 200px;
            }
        }
        &_content {
            background: #fff;
            line-height: 1.6;
            border-radius: 0 0 5px 5px;
            &_text {
                padding: 0.5rem 0.75rem 0.75rem;
            }

            &_action {
                display: flex;
                background: $bg-03;
                border-radius: 0 0 5px 5px;
                > * {
                    text-align: center;
                    padding: 0.5rem;
                    width: 100%;
                    cursor: pointer;
                    &:hover {
                        background: $color-secondary;
                    }
                    &:not(:first-child){
                        border-left: 1px solid $bg-04;
                    }
                    &:first-child {
                        border-radius: 0 0 0 5px;
                    }
                    &:last-child {
                        border-radius: 0 0 5px 0;
                    }
                    &.remove {
                        &:hover {
                            background: $color-red;
                            color: #f1f1f1;
                        }   
                    }
                    &.disable {
                        background: $bg-04;
                    }
                }
            }
        }
        
    }
}
.sliderBox {
    display: flex;
    flex-direction: column;
    &_item {
        display: flex;
        box-shadow: 0 0 5px $bg-04;
        border: 1px solid $bg-05;
        &:first-child {
            margin-top: 0.5rem;
        }
        &:not(:first-child){
            margin-top: 1.5rem;
        }
        &_image {
            width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &_content {
            width: 100%;
            display: flex;
            background: #fff;
            &_text {
                width: 100%;
                padding: 1rem;
            }
            &_action {
                flex: 0 0 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background: $bg-03;
                > div {
                    height: 100%;
                    min-height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    &:not(:first-child){
                        border-top: 1px solid $bg-05;
                    }
                }
            }
        }
    }
}
/* ===== END: Image */